/*  reset css */
html,body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
	padding: 0;
    border: 0;
    line-height: normal;
}
html,body{
    font-family: 'Montserrat', sans-serif;
}
ul, li{
    list-style: none;
     margin: 0;
	padding: 0;
	
}
/* common css */
.container{
    
    max-width: 1366px;
    padding-right: 35px;
    padding-left: 35px;
}

/* header nav css */
.valuefy-nav{
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;
    display: flex;
    align-items: center;
}
.header-logo-link{

    margin-left: 20px;
}
.logo-img{
    width: 80px;
}

.nav-hamburger{
    font-size: 24px;
    color: #3480c3;
}

/* tech update section */
.tech-update-sect{
    background-color: rgb(243, 244, 245);
    padding-bottom: 30px;
}
.title-sct h1{
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.maindiv-wrapper {
    display: flex;
    justify-content: space-between;
}
.maindiv-wrapper .col {
    width: 50%;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    background-color: #ffffff;
}
.maindiv-wrapper .col-lhs {
    margin-right: 20px;
}
.col-title{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #d7d7d7;
}
.col-lhs-title p{
    font-size: 16px;
    font-weight: 600;
    padding-right: 15px;
    text-transform: capitalize;
}

.col-lhs-title span{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #e8f1f8;
    color: #5d9bce;   
    width: 40px;
    text-align: center;
    height: 20px;
    border-radius: 10px;
}
.col-cont{
    padding: 10px 15px 30px;
    height: 250px;
    overflow: scroll;
}
.col-cont::-webkit-scrollbar{
    display: none;
}
.col-cont li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #d7d7d7;
}
.col-cont li:last-child{
    border: none;
}
.col-cont li p{
    font-size: 14px;
    width: 30%;
}
.col-cont li span{
    font-size: 12px;
}
.col-cont li .wrap{
    width: 20%;
    padding-right: 10px;
    text-align: end;
}
.col-rhs{
    padding:15px;
}
.col-rhs-title{
    padding-bottom: 0px;
}
.colrhs-left{
    border-right: 1px solid #d7d7d7;
    padding-bottom: 15px;
    padding-right: 10px;
    /* width: 35%; */
}
.colrhs-left .title{
    font-size: 14px;
    padding-bottom: 5px;
}

.colrhs-left .date{
    font-size: 16px;
    padding-bottom: 5px;
}
.colrhs-left .day{
    font-size: 12px;
    padding-bottom: 5px;
}

.colrhs-left .time{
    font-size: 12px;
    padding-bottom: 5px;
}
.colrhs-right{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.colrhs-right .colrhs-right-sct{
    width: 50%;
}

.colrhs-right .colrhs-right-sct h4{
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 5px;
}

.colrhs-right .colrhs-right-sct p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
}
.colrhs-right .colrhs-right-sct span{
    font-size: 12px;
    font-weight: 400;
    padding: 3px 2px;
    border-radius: 5px;
    background-color: #eaf4e9;
    color: #88bb7e;
}
.col-rhs-body{
    padding: 15px;
}
.col-rhs-body h4{
    font-size: 12px;
    font-weight: 400;
}
.news-sct{
    padding-top: 10px;
}
.news-col{
    display: flex;
}
.news-details p{
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
}
.news-details .gray-text{
    font-size: 12px;
    font-weight: 400;
    color: #908d8d;
}
.news-details{
    padding-left: 15px;
}
.news-details span{
    font-size: 12px;
    font-weight: 400;
}
.news-col:not(:last-child){
    margin-bottom: 15px;
}
/* progress bar  */
.progress-bar{
    display: flex;
    width: 130px;
   
}
.progress-bar .step{
    position: relative;
    width: 100%;
    border: none;height: 2px;
    background-color: #5291ca;
    padding: 0;
    margin: 0 5px;
}
.progress-bar .step.active{
    margin: 0;
}

.progress-bar .step.active .check{
    left: 0;
}
.progress-bar .step .check{
    width: 10px;
    height: 10px;
    border: 1px solid #3c6b96;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 5px;
    background: white;
}
.progress-bar .step.active .check::after{
    content: '';
    width: 6px;
    height: 6px;
    background-color: #82b7e6;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
}
.progress-bar .step.active:last-child{
    width:40%;
}

@media screen and (min-width:767px) and (max-width:1024px){
    .colrhs-right{
        margin-left: 15px;
        width: 68%;
    }
    .col-title{
        padding: 10px;
    }
    .colrhs-left{
        padding-right: 0;
    }
    .col-rhs-title{
        padding-bottom: 0;
    }
    .colrhs-right .colrhs-right-sct p{
        font-size: 18px;
    }
    .news-col img{
        width: 100px;
        height: 70px;
    }
    .news-details{
        padding-left: 10px;
    }
}

@media screen and (max-width:767px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .maindiv-wrapper{
        flex-direction: column;
    }
    .maindiv-wrapper .col-lhs{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .maindiv-wrapper .col{
        width: 100%;
    }
    .col-rhs{
        padding: 0px;
    }
    .title-sct h1{
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col-title{
        padding: 10px;
    }
    .col-lhs-title p{
        font-size: 14px;
    }
    .col-lhs-title span{
        font-size: 13px;
        height: 18px;
    }
    .col-cont{
        padding: 10px 10px 20px;
            height: 270px;
            overflow: scroll;
        
    }
    
    .col-cont li{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .col-cont li p{
        font-size: 12px;

    }
    .col-cont li span{
        font-size: 10px;
    }
    .colrhs-left .title{
        font-size: 12px;
    }
    .colrhs-left .date{
        font-size: 14px;
    }
    .colrhs-left .day{
        font-size: 10px;
    }
    .colrhs-left .time{
        font-size: 10px;
    }
    .colrhs-left{
        padding-bottom: 10px;
        padding-right: 5px;
    }
    .col-rhs-title{
        padding-bottom: 0;
    }
    .colrhs-right{
        margin-left: 15px;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
    }
    .colrhs-right .colrhs-right-sct{
        width: 100%;
    }
    .colrhs-right .colrhs-right-sct h4{
        font-size: 10px;
        padding-bottom: 2px;
    }
    .colrhs-right .colrhs-right-sct p{
        font-size: 14px;
        padding-bottom: 2px;
        margin-right: 10px;
        display: inline-block;
    }
    .colrhs-right .colrhs-right-sct span{
        font-size: 10px;
    }
    .news-col{
        flex-direction: column;
    }
    .news-col img{
        width: 200px;
        /* margin: 0 auto; */
    }
    .news-details{
        padding-left: 0px;
        padding-top: 10px;
    }
    .news-details p{
        padding-bottom: 3px;
    }
    /* progress bar */
    .progress-bar{
        width: 100px;
       
    }
    
    .progress-bar .step .check{
        width: 8px;
        height: 8px;
        top: -4px;
        left: 3px;
    }
    .progress-bar .step.active .check::after{
        
        width: 4px;
        height: 4px;
    }
    .valuefy-nav{
        padding: 10px;
    }
    .nav-hamburger{
        font-size: 18px;
    }
}

