* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

@font-face {
    font-family: "Futura PT";
    src: url("http://fonts.cdnfonts.com/css/futura-pt");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css?family=Poppins");
    font-weight: 300;
    font-style: normal;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    background: transparent linear-gradient(180deg, #F1F6FB 0%, #F1F6FBF1 50%, #F1F6FB00 100%) 0% 0% no-repeat padding-box;
}

.wrapper {
    padding: 3rem;
    background: transparent linear-gradient(180deg, #F1F6FB 0%, #F1F6FBF1 50%, #F1F6FB00 100%) 0% 0% no-repeat padding-box;
}

.text-center {
    text-align: center;
}

.pt-4 {
    padding-top: 4rem;
}
.title-header {
    font: normal normal bold 3.75rem 'Futura PT';
    color: #472E8D;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.horizontal-line {
    border: 5px solid #B8DB15;
    width: 150px;
    margin: 0 auto;
}

.card-wrapper {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 15px;
    box-shadow: 0px 0px 30px #0000001A;
}

.card:not(:last-child) {
    margin-right: 1rem;
}

.img-wrap img {
    object-fit: contain;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-text {
    padding: 30px;
}

.card-desc {
    font-size: 1rem;
    color: #878787;
    font-family: 'Poppins';
    text-justify: justify-content;
}

.card-title {
    font-size: 1.875rem;
    font-family: 'Poppins';
    letter-spacing: 0px;
    color: #472E8D;
    padding-bottom: 1.875rem;
}

.card-footer {
    padding-top: 30px;
}

.card-footer button {
    border: none;
    padding: 10px 30px;
    background-color: #F4C911;
    color: #472E8D;
    font-size: 0.875rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    border-radius: 33px;

}



@media screen and (max-width: 991px) { 
    .card-wrapper {
        flex-direction: column;
    }

    .card:not(:last-child) {
        margin: 0 0 2rem 0;
    }
    .title-header {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 767px) {
    .title-header {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .wrapper {
        padding: 1rem;
    }
    .horizontal-line{
        border: 3px solid #B8DB15;
    }
    .card-text {
        padding: 1.5rem;
    }
    .card-title{
        font-size: 1.438rem;
        padding-bottom: 1rem;
    }
    .card-desc {
        font-size: 0.75rem;
    }
    .card-footer button {
        font-size: 0.75rem
    }
}
